.CheckoutSummary {
    width: 80%;
    justify-content: cenetr;
    margin: 100px auto;
    text-align: center;
}
@media (min-width: 600px) {
    .CheckoutSummary {
        width: 500px;
    }
}
@media (min-width: 1000px) {
    .CheckoutSummary {
        width: 650px;
    }
}